*{
    margin: 10px;
    padding: 10px;
}

h3{
    font-size: xx-large;text-align: center; background-color: aquamarine; margin-right: 68%;border: solid; border-radius: 15px;
}
form{
     background-color:chocolate; border-radius: 20px; border:solid; width: 30%; box-shadow: inset 5px 5px 10px black,5px 5px 10px red;
}
input[type="text"],
input[type="password"]{
    border: solid rgb(15, 4, 4);
    width: 80%; us: 10px; box-shadow:5px 5px 10px yellowgreen;
}
input[type="submit"]:hover{
    background-color:  yellowgreen; border-radius: 10px; cursor: pointer;
   
}

label{ 
   font-size:x-large; text-shadow: 2px 2px 5px;
}




