html{
    margin: 0;
}

span {
    display: block;
}

.Color {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;

} 

#blue {
    background: blue;
}

#red {
    background: red;
}

#grey {
    background: gray;
}

#yellow {
    background: yellow;
}